* {
font-family: "Source Code Pro SemiBold", monospace;
font-size: 10pt;
border: none;
box-shadow: none;
}

window#waybar {
    background-color: #373c45;
    color: #373c45;
    border-radius: 5px;
}

#pulseaudio,
#memory,
#cpu,
#clock {
padding: 0 10px;
}

#pulseaudio {
color: #db0f68;
}

#memory {
color: #db0f68;
}

#keyboard-state {
color: #9315d4;
}

#workspaces button.active {
    border-bottom: 2px solid #7aa2f7; /* Колір і товщина підкреслення */
    border-radius: 0;
    padding-bottom: 4px;
    /* Можна додати інший фон/колір тексту, якщо треба */
}

#workspaces button:hover {
    background: #24283b;
}

#wlr-taskbar {
color: #9315d4;
margin: 0 10px;
}

#wlr-taskbar button.active {
background: #373B41;
border-bottom: 2px solid #F0C674;
color: #F0C674;
}

#wlr-taskbar button {
padding: 0 6px;
background: transparent;
border: none;
}

#cpu {
color: #db0f68;
}

#clock {
color: #11def5;
}

/* Стилі для system tray */
#tray {
background: transparent;
color: #C5C8C6;
padding: 0 10px;
}

#tray > .tray-item {
background: transparent;
border: none;
padding: 0 5px;
}

#tray > .tray-item:hover {
background: #44475a;
border-radius: 3px;
}
