* {
font-family: "Source Code Pro SemiBold", monospace;
font-size: 14pt;
border: none;
box-shadow: none;
}

window#waybar {
  background-color: #282A2E;
  color: #C5C8C6;
  border-radius: 5px;
}

#pulseaudio,
#memory,
#cpu,
#clock {
padding: 0 10px;
}

#pulseaudio {
color: #9315d4;
}

#memory {
color: #9315d4;
}

#keyboard-state {
color: #9315d4;
}

#wlr-workspaces {
margin-left: 10px;
}

#wlr-taskbar {
color: #9315d4;
margin: 0 10px;
}

#wlr-taskbar button.active {
background: #373B41;
border-bottom: 2px solid #F0C674;
color: #F0C674;
}

#wlr-taskbar button {
padding: 0 6px;
background: transparent;
border: none;
}

#cpu {
color: #9315d4;
}

#clock {
color: #8ABEB7;
}

/* Стилі для system tray */
#tray {
background: transparent;
color: #C5C8C6;
padding: 0 10px;
}

#tray > .tray-item {
background: transparent;
border: none;
padding: 0 5px;
}

#tray > .tray-item:hover {
background: #44475a;
border-radius: 3px;
}
